// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$background-main: #fef6e4;
$background-sub: #f3d2c1;
$text-main: #001858;
$text-sub: #172c66;
$button-primary: #f582ae;
$button-secondary: #8bd3dd;
