.user-container {
  background-color: #fff;
  margin: 16px 10px 0px 10px;
  padding: 16px 10px 16px 10px;
  border-radius: 10px;
  margin-top: 20%;
}

.user-button {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px;
}
