<div class="container">

  <div class="greeting">
    <%= image_tag 'logo.png', class: "greeting__image" %>
    <div class="greeting__message">
      <h2><%= current_user.user_name %>さんの</h2>
      <h2>ブックマークした本</h2>
    </div>
  </div>


</div>
