<div class="image-main-container">
  <%= image_tag 'mainvisual', class: "image-main" %>
</div>

<% if !current_user %>
  <div class="button-home">
    <%= link_to "アカウント登録",  new_user_registration_path, class: "btn btn-primary", style: "width: 48%" %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary", style: "width: 48%" %>
  </div>
<% end %>
