<%= react_component("molecules/queries/query") %>
<%= link_to :back, class: "btn btn-back" do %>
  <p class="mb-0"><i class="fa-solid fa-chevron-left"></i> 前の画面に戻る</p>
<% end %>
<div class="bottom-placehodler"></div>
