<div class="form-container">
  <%= link_to 'キーワードで本を検索', query_path, class: "btn btn-primary button-search form-button" %>
  <%= link_to '本のバーコードをスキャンする', barcode_path, class: "btn btn-secondary button-search form-button" %>
</div>
