<div class="container">
  <div class="greeting">
    <%= image_tag 'logo.png', class: "greeting__image" %>
    <div class="greeting__message">
      <h2><%= current_user.user_name %>さんの通帳です</h2>
    </div>
  </div>

  <div class="passbook-container">
    <div class="cssbk">
      <label>
        <input type="checkbox" />
        <span style="z-index: 99;">表紙の文章</span>
        <span class="dummy">１ページ目の文章</span>
      </label>
      <label>
        <input type="checkbox" />
        <span style="z-index: 98;">２ページ目の文章</span>
        <span class="dummy">３ページ目の文章</span>
      </label>
      <label>
        <input type="checkbox" />
        <span style="z-index: 97;">４ページ目の文章</span>
        <span class="dummy">５ページ目の文章</span>
      </label>
    </div>
  </div>

</div>
