.greeting {
  width: 100%;
  height: 100px;
  margin: 30px 10px 10px 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  &__image {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
  &__message {
    margin-left: 10px;
  }
}
