.image-main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-main {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.image-footer {
  height: 100%;
  width: auto;
  object-fit: cover;
}
